<td class="px-3 py-4 whitespace-nowrap">
    <div class="dropdown relative">
        <button class="bg-gray-100 text-gray-600 font-semibold py-2 px-4 rounded inline-flex items-center">
            <span class="mr-1" style="font-size: large; font-weight: 900; margin-top: -5px;">...</span>
        </button>
        <div class="dropdown-menu hidden absolute w-48 top-full left-0 bg-white border border-gray-200 rounded mt-1" style="margin-left: -84px; z-index: 999;">
            <div class="flex flex-col py-1">
                <div class="px-4 py-2 border-b border-gray-200">Gate: {{ flight.gate }}</div>
                <button class="dropdown-item px-4 py-2 hover:bg-gray-100" onclick="arrivedBag('{{ flight.flight_id }}')"> Arrived Bag</button>
                <button class="dropdown-item px-4 py-2 hover:bg-gray-100" onclick="delivered('{{ flight.flight_id }}')">Delivered</button>
                <button class="dropdown-item px-4 py-2 hover:bg-gray-100" onclick="assignGate('{{ flight.flight_id }}')">Assign Gate</button>
            </div>
        </div>
    </div>
</td>